@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap');


:root {
    --bg-color: linear-gradient(180deg, rgba(2,197,155,1) 0%, rgba(0,128,123,1) 100%);
    --footer-bg: linear-gradient(180deg, rgba(0,128,123,1) 0%, rgba(2,197,155,1) 150%);
    --text: #fff;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--bg-color);
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.title {
    z-index: 1;
    font-size: 52px;
    font-weight: 600;
}

#play {
    background-image: url('img/play.png');
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    z-index: 1;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#play:hover {
   transform: scale(1.08);
}

#play:active {
    transform: scale(0.95);
}

#play.active {
    background-image: url('img/pause.png');
}

.stopwatch-wrapper span {
    font-size: 25px;
}

.stopwatch-wrapper {
    position: absolute;
    top: 15%;
    left: 50;
}

#tens {
    display: none;
}

#hours {
    display: none;
}   

.hover-message {
    opacity: 0;
    position: absolute;
    width: 180px;
    height: 25px;
    background-color: var(--less-important-text);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
    color: black;
    top: -20px;
    left: -190px;
    transition: opacity 0.2s ease;
}

.hover-message.show {
    opacity: 1;
}

.waveform {
    display: flex;
    gap: 5px;
}

.waveform span {
    background-color: white;
    width: 8px;
    height: 60px;
    border-radius: 10px;
    transition: transform 0.18s ease-in;  
    transform-origin: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    max-width: 300px;
}

 header {
    width: 100%;
    height: 150px;
 }

 .menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    text-align: center;
 }

 .quote {
    font-size: 14px;
    max-width: 400px;
    color: var(--bg-color);
    opacity: 0.82;
 }

 footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    padding: 15px;
 }

 #home {
    font-size: 30px;
    color: white;
    transition: 0.3s ease;
 }

 #reset {
    font-size: 35px;
    color: white;
    transition: 0.3s ease-out;
    cursor: pointer;
 }

 #reset:hover {
    transform: rotate(-360deg);
 }

 #home:hover {
    transform: scale(1.1);
 }

 .volume-container {
    display: flex;
    align-items: center;
    width: 100%; /* Width of the outside container */
  }

  
  /* The slider itself */
  .volume {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    border-radius: 45px;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #fff; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .volume:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

 .volume::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #000; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
  }
  
  .volume::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: white; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

 .logo {
    font-family: 'MuseoModerno', sans-serif;
    font-size: 42px;
    font-weight: 900;
    position: relative;
 }

 .logo::after {
    content: 'Now playing:';
    position: absolute;
    top: 70px;
    left:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.4em;
    font-weight: 400;
}